# Node artifact files
3rdParty/
build/
.GenComp_token.txt
.github-recovery-codes.txt
*.autosave
#*.*#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.aux
*.log
*.gz


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
